<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>주문 페이지입니다.</h2>
    <h2 th:if="${param.isPresentOrder}" th:text="'주문하신 상품이 없습니다.'"></h2>
    <h2 th:if="${param.orderFail}" th:text="'잔액이 부족합니다.'"></h2>

    <p th:unless="${param.isPresentOrder}" th:text="|주문 고객 : ${member.getUsername()}|"></p>

    <tr th:unless="${param.isPresentOrder}" th:each="orderItems : ${orderItemsForMember}">
        <td th:text="|상품 이름 : ${orderItems.item.itemName}|"></td>
        <td th:text="|상품 가격 : ${orderItems.item.price}|"></td>
        <td th:text="|주문 수량 : ${orderItems.item.quantity}|"></td>
        <br>
    </tr>

    <form th:action th:method="post">
    <button type="submit">주문 하기</button>
    </form>
</body>
</html>