<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h2 th:text="|${member.username}님 탈퇴를 하시면 모든 게시글이 삭제됩니다|"></h2>
<form th:action="@{/deleteMember/{id}(id=${member.id})}" method="post">
<label for="username">아이디</label>
<input type="text" id="username" name="username" placeholder="아이디를 입력하세요">
<label for="password">비밀번호</label>
<input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
    <button type="submit">회원 삭제</button>
    <h2 th:if="${param.statusDeleteFail}" th:text="'회원정보가 일치하지 않습니다'"></h2>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>