<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
  <h2 th:text="|${member.username}의 게시판입니다.|"></h2>
  <h3 th:if="${param.postRegistration}" th:text="#{status.postRegistration}"></h3>
  <h3 th:if="${param.postDelete}" th:text="#{status.postDelete}"></h3>
  <h3 th:if="${param.Recharge}" th:text="#{status.Recharge}"></h3>
  <tbody>
  <tr th:each="post : ${posts}">
      <li>
          <td th:text="|${postStat.count}번 글 : |"></td>
          <td th:text="|title : ${post.title} |"></td>
          <td th:text="|body : ${post.contents} |"></td>
      </li>
  </tr>
  </tbody>

  <div>
  <a th:href="@{/home/postList}">전체 글 보기</a>
  <a th:href="@{home/registration}">글 등록하기</a>
  <a th:href="@{/deleteMember}">회원 삭제하기</a>
  <a th:href="@{/updateMember}">회원 수정하기</a>
  <a th:href="@{/logout}">로그아웃하기</a>
  </div>

  <div>
      <a th:href="@{/upload}">파일 업로드</a>
      <a th:href="@{/download}">파일 다운로드</a>
  </div>

  <div>
      <a th:href="@{/recharge}">충전하기</a>
      <a th:href="@{/itemList}">상품 담기</a>
      <a th:href="@{/order}">주문하기</a>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>