<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<tr th:each="post : ${posts}">
    <div>
    <td th:text="${postStat.count}"></td>
    <td th:text="|작성자 : ${post.member.username} |"></td>
    </div>

    <div>
    <td th:text="|제목 : ${post.title} |"></td>
    </div>

    <div>
    <td th:text="|내용 : ${post.contents} |"></td>
    </div>
</tr>
<h2 th:if="${param.statusNoList}" th:text="'검색한 제목의 게시글이 존재하지 않습니다.'"></h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>