<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h2 th:unless="${param.statusLoginFail}" th:text="'Welcome Page'"></h2>
<h2 th:if="${param.statusLoginFail}" th:text="'로그인에 실패했습니다. 다시 시도해주세요'"></h2>
<h2 th:if="${param.status}" th:text="'회원 가입이 되었습니다'"></h2>
<h2 th:if="${param.statusDeleteMember}" th:text="'회원 탈퇴가 되었습니다'"></h2>
<h2 th:if="${param.statusUpdateMember}" th:text="'회원 정보가 수정되었습니다.'"></h2>
<a th:href="@{/signup}">회원 가입</a>
<a th:href="@{/login}">로그인 하기</a>
<a th:href="@{/home/postList}">전체 글 보기</a>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
</body>
</html>